<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pay.dao.PromoterPayDao">

    <update id="updateSuccessById">
        UPDATE promoter_pay
        SET    payOrderId = #{payOrderId}, isSuccess = TRUE
        WHERE  id = #{id} AND isSuccess = FALSE
    </update>
</mapper>


